<div class="main-col">
  <section class="intro">
    <div class="logo" role="img" alt="Logo"></div>
    <h1>Sustainability as a service</h1>
    <p>
      The Sustainer's Market is a sustainable way to fund projects like open
      source services or online subscriptions. Projects on the Market earn only
      what they need, and the rest is returned to you.
    </p>
    <!-- <app-button text="Join the network" link="/login"></app-button> -->
  </section>

  <section class="steps">
    <div class="step">
      <div
        class="illustration network"
        role="img"
        aria-label="Simple, abstract illustration of connected payment network"
      ></div>
      <p class="content">
        A Sustainer's Market project publishes how much money is needed to run
        its service and pay its team in a Sustainability Report. Any payment you
        make to a project will contribute to its sustainability.
      </p>
    </div>
    <div class="step">
      <div
        class="illustration funding"
        role="img"
        aria-label="Simple, abstract illustration of rising income bar graph"
      ></div>
      <p class="content">
        Once a project earns enough to become sustainable, any extra earnings
        are returned back to its sustainers as a dividend.
      </p>
    </div>
    <div class="step">
      <div
        class="illustration transparency"
        role="img"
        aria-label="Simple, abstract illustration of payment line items"
      ></div>
      <p class="content">
        This economy offers projects a path to sustainable and transparent
        growth, while being a trustworthy way for people to support work they
        care about.
      </p>
    </div>
  </section>
  <section class="conclusion">
    <p>
      If you have a project you'd like to run on the Sustainers market,
      <a href="mailto:proposals@sustainers.market"
        >reach out to us and we'll help you get started.</a
      >
    </p>
    <div class="logo" role="img" alt="Logo"></div>
  </section>
</div>
