@import '../../../styles/font-size';
@import '../../../styles/colors';
@import '../../../styles/mixins';

.header {
  color: $brandPrimary;
}

.section {
  padding: 50px 0;
}

.intro {
  height: 90vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .logo {
    @include svgMask(ssflower);
    background: $brandPrimary;
    width: 50px;
    height: 50px;
    margin: 0 auto 100px;
  }

  .header {
    font-size: $fsXLarge;
  }

  p {
    margin: 50px 0;
  }
}

.steps {
  .step {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .number {
      margin-right: 60px;
      font-size: $fsXLarge;
      color: $brandPrimary;
    }

    .content {
      flex: 1;
    }
  }
}

// .split-col {
//   display: flex;
//   justify-content: space-between;

//   .left,
//   .right {
//     width: calc(50% - 20px);
//   }

//   .img {
//     width: 100%;
//     height: 400px;
//     background: $brandPrimary;
//     opacity: .1;
//   }
// }