<div class="main-col">
  <section class="intro">
    <div class="logo" role="img" alt="Logo"></div>
    <h1>A market for the common good</h1>
    <p>
      The Sustainer's Market is a sustainable way to pay for app subscriptions
      and digital services. Businesses on the Market earn only what they need,
      and you earn when there's more than enough to sustain them.
    </p>
    <!-- <app-button text="Join the network" link="/login"></app-button> -->
  </section>

  <section class="steps">
    <div class="step">
      <div
        class="illustration network"
        role="img"
        aria-label="Simple, abstract illustration of connected payment network"
      ></div>
      <p class="content">
        A business that runs on the Sustainer's Market decides how much money is
        needed to sustain its service and pay its team. Any payment you make to
        a business will contribute to its sustainability.
      </p>
    </div>
    <div class="step">
      <div
        class="illustration funding"
        role="img"
        aria-label="Simple, abstract illustration of rising income bar graph"
      ></div>
      <p class="content">
        Once a business earns enough to become sustainable, any extra earnings
        are rewarded back to its customers as a refund, or paid out as dividends
        to people who spend on the Market.
      </p>
    </div>
    <div class="step">
      <div
        class="illustration transparency"
        role="img"
        aria-label="Simple, abstract illustration of payment line items"
      ></div>
      <p class="content">
        This economy offers businesses a path to sustainable growth, and gives
        customers the opportunity to be among the most rewarded shareholders.
      </p>
    </div>
  </section>
  <section class="conclusion">
    <p>
      For now, the team behind this project is working towards
      building
      <a href="https://roof.io">Roof</a> on the Sustainer's Market. We'd love to
      <a href="mailto:team@roof.io">hear from you.</a>
    </p>
    <div class="logo" role="img" alt="Logo"></div>
  </section>
</div>
