<div class="main-col">
  <div class="intro">
    <div class="logo"></div>
    <div class="header">A market for the<br />common good</div>
    <p>
      The Sustainer's Market is a sustainable way to pay for services.
      Businesses on the Market earn only what they need, and you earn when
      there's more than enough to sustain them.
    </p>
    <!-- <app-button text="Join the network" link="/login"></app-button> -->
  </div>

  <div class="section steps">
    <!-- <div class="step">
      <div class="illustration account"></div>
      <div class="content">
        Sign into any sustainable service using your Sustainer's Market account,
        and use the service normally.
      </div>
    </div> -->
    <div class="step">
      <div class="illustration network"></div>
      <div class="content">
        A business that is part of the Sustainer's Market decides how much money
        is needed to sustain its service and pay its team. Any payment you make
        to a business will contibute to its sustainability.
        <!-- Any payment you make to a business that's part of the Sustainer's Market will come from your
        Sustainers Market account. You can log in here to see all the services
        you're sustaining, and how much you're paying. -->
      </div>
    </div>
    <div class="step">
      <div class="illustration funding"></div>
      <div class="content">
        Once a business earns enough to cover its expenses and payouts, any
        extra earnings are rewarded back to its users as a refund, or to the
        Market for paying out dividends to participants.
      </div>
    </div>
    <div class="step">
      <div class="illustration transparency"></div>
      <div class="content">
        It's in the best interest of a businesses to prioritize customer service
        and be transparent about its costs, because it is you, the customers,
        who are choosing to use and sustain the service. The Sustainer's Market
        provides a platform to make this easy.
      </div>
    </div>
  </div>
</div>
