@import 'font-size';
@import 'colors';

html,
body {
  margin: 0;
  font-size: $fsMedium;
  background: $dark;
}

html,
body,
div,
p,
input,
select,
button,
span {
  font-family: antarctican-mono, sans-serif;
  font-weight: 400;
  color: $light;
}

.main-col {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}