@import 'font-size';
@import 'colors';

html,
body {
  margin: 0;
  font-size: $fsMedium;
  background: $light;
}

html,
body,
div,
p,
input,
select,
button,
span {
  // font-family: antarctican-mono, sans-serif;
  // font-family: adonis-web, serif;
  // font-family: base-12-serif, serif;
  // font-family: museo, serif;
  // font-family: mr-eaves-modern, sans-serif;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 400;
  color: $dark;
}

.main-col {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}