@mixin svgMask($filename) {
  mask-image: url('/assets/#{$filename}.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

@mixin headline {
  font-family: museo, serif;
  // font-family: ff-ernestine-pro, serif;
  // font-family: serenity, sans-serif;
  // font-family: los-feliz, serif;
  // color: $brandLight;
  font-weight: 600;
}