@import '../../styles/font-size';
@import '../../styles/colors';

.button {
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  background: $brandDark;
  cursor: pointer;

  .text {
    color: $brandPrimary;
    font-size: $fsMedium;
  }

  &:hover {
    opacity: .8;
  }
}