@import '../../styles/font-size';
@import '../../styles/colors';

.button {
  border-radius: 4px;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  background: $brandSecondary;
  cursor: pointer;

  .text {
    color: $brandPrimary;
    font-size: $fsLarge;
    font-weight: 500;
  }

  &:hover {
    opacity: .8;
  }
}